RABBITMQ_URL=amqps://gmrsbwme:PuGt11ztJkcO0hWlIxj99jX3Jf6ydRfh@armadillo.rmq.cloudamqp.com/gmrsbwme
SITE_URL=https://cat369.com
SITE_BASE_URL=https://web7.info99s.com/365/Main.aspx
SITE_USERNAME=CTBSAAAA003
SITE_PASSWORD=Ab123123

LEAGUE=Fantasy